
			*,
*:before,
*:after {
  border: none;
  padding: 0;

}


form {
  max-width: 840px;
  margin: 0 auto;
  font-size: 65%;
  font-family: Lato, 'sans-serif' !important;

}

input {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 800;
  float: left;
  background-color: white;
  color: #111;
  border: 1px solid #333;
  width: 58%;
  height: 40px;
  font-size: 1.1em;
  font-weight: 50;
  text-align: center;
  border-radius: 5px;
  margin-left: 100px;
}

button {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  float: left;
  border: 4px;
  margin-left: 10px;
  background-color: #444;
  color: white;
  width: 15%;
  height: 40px;
  font-size: 1em;
  border-radius: 5px;
 

}

button:hover {
  background-color: #0085A1;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}





